# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.prof
*.zip

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendor directory
/vendor/

# Build output directory
/build/

/.cache/

# Go workspace file
go.work
